@import 'tailwindcss';

/*  Adding tokens - adjusting values = replace one value not same value many times */
/* --color- is a placeholder for many things in theme like bg-surface or text-surface */
@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --font-sans: var(--font-inter);
  --color-whatsapp: var(--whatsapp);
  --color-whatsapp-hover: var(--whatsapp-hover);
}

/* Change these hexadecimal values to change colours! */
:root {
  --background: #0d0e10;
  --surface: #18191c;
  --foreground: #f2f1ee;
  --muted: #9a9994;
  --border: #2b2c30;
  --accent: #f5511d;
  --accent-hover: #ff6b3d;
  --whatsapp: #25d366;
  --whatsapp-hover: #1ebe5d;
}
